{% extends 'admin/base.html.twig' %}

{% block title %}Index des questions
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4">Index des questions</h1>

	{% include "admin/include/_search_form.html.twig" %}

	<table class="table table-hover">
		<thead>
			<tr>
				<th class="table-dark text-center">Questions</th>
				<th class="table-dark text-center">Niveau</th>
				<th class="table-dark text-center">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for question in pagination %}
				<tr {% if loop.index is odd %} class="color" {% endif %}>
					<td class="ps-5">{{ question.content|raw }}</td>
					<td class=" text-center">{{ question.level }}</td>
					<td class=" text-center">
						<a class="btn btn-outline-primary" href="{{ path('question_show', {'id': question.id}) }}">
							<i class="bi bi-eye"></i>
							afficher</a>
						<a class="btn btn-outline-primary" href="{{ path('question_edit', {'id': question.id}) }}">
							<i class="bi bi-pencil"></i>
							éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">aucune question trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# display navigation #}
	<div class="navigation ">
		{{ knp_pagination_render(pagination) }}
	</div>
	<a class="btn btn-outline-primary mt-2" href="{{ path('question_new') }}">
		<i class="bi bi-plus-circle"></i>
		Créer</a>
{% endblock %}
