{% extends 'admin/base.html.twig' %}

{% block title %}Question
{% endblock %}

{% block body %}
	<h1 class="text-center mb-4">Question</h1>

	<table class="table table-hover">
		<tbody>
			<tr>
				<th class="table-dark text-center">Question</th>
				<th class="table-dark">Niveau</th>
			</tr>
			<tr>
				<td class="ps-5">{{ question.content|raw }}</td>
				<td class="ps-4">{{ question.level }}</td>
			</tr>
			{% for answer in question.answers %}
				<tr>
					<th class="table-primary text-center">Réponse</th>
					<th class="table-primary">Correcte</th>
				</tr>
				<tr>
					<td class="ps-5">{{ answer.content|raw }}</td>
					<td>{{ answer.isCorrect ? '🟢 oui' : '❌ non' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-outline-primary" href="{{ path('question_index') }}">
		<i class="bi bi-backspace"></i>
		retour à la liste</a>

	<a class="btn btn-outline-primary" href="{{ path('question_edit', {'id': question.id}) }}">
		<i class="bi bi-pencil"></i>
		éditer</a>

	{{ include('admin/question/_delete_form.html.twig') }}
{% endblock %}
