{% extends 'admin/base.html.twig' %}

{% block title %}Classe index{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Classe index</h1>

    {% include "admin/include/_search_form.html.twig" %}

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table-dark">Id</th>
                <th class="table-dark">Classe</th>
                <th class="table-dark">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in pagination %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.classe }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('classe_show', {'id': classe.id}) }}">
                        <i class="bi bi-eye"></i>
                        afficher</a>
                    <a class="btn btn-outline-primary" href="{{ path('classe_edit', {'id': classe.id}) }}">
                        <i class="bi bi-pencil"></i>
                        éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">aucune classe trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary mt-2" href="{{ path('classe_new') }}">
        <i class="bi bi-plus-circle"></i>
        Créer</a>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
{% endblock %}
