<header>
	<nav class="navbar navbar-1 navbar-light fixed-top">
		<div class="container-fluid">
			<a href="{{ path('app_home') }}" class="ms-3">
				<img class="blason" src="{{asset('build/images/blason.png')}}" aria-label="retour accueil" alt="blason Montbéliard">
			</a>
            <span class="ms-auto">
                {% if app.user %}
                    <span class="me-2 pt-3">{{ app.user.username }}</span>
                {% endif %}
                <button class="navbar-toggler me-3 mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon burger"></span>
                </button>
            {% else %}
            <a class="navbar-brand" href="/">1283, Montbéliard cité libre</a>
                <button class="navbar-toggler ms-auto me-3 mt-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon burger"></span>
                </button>
        {% endif %}
            </span>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close text-reset me-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    <h5 class="offcanvas-title me-auto" id="offcanvasNavbarLabel">1283, Montbéliard, cité libre</h5>
                </div>
                <div class="offcanvas-body bg-dark text-light">
                    <ul class="navbar-nav   pe-3">
                        <li class="nav-item">
                            <a class="nav-link active mt-5 fs-5 text-light text-center link-navbar" aria-current="page" href="/">Accueil</a>
                        </li>
                        <li class="nav-item">
                            {% if app.user %}
                                <a class="nav-link mt-5 fs-5 text-light text-center link-navbar" href="{{ path('app_logout') }}"> Se déconnecter</a>
                                <a class="nav-link mt-5 fs-5 text-light text-center link-navbar" href="#"> Mon compte</a>
                            {% else %}
                                <a class="nav-link mt-5 fs-5 text-light text-center link-navbar" href="{{ path('login') }}"> Se connecter</a>
                            {% endif %}
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item">
                                <a class="nav-link active mt-5 fs-5 text-light text-center link-navbar" aria-current="page" href="{{ path('admin') }}">Tableau de bord admin</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link mt-5 fs-5 text-light text-center link-navbar" href="#">Mes scores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-5 fs-5 text-light text-center link-navbar" href="#">Classement</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mt-5 fs-5 text-light text-center link-navbar" href="{{ path('rule_index') }}">Règles du jeu</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
