{% extends "layout/main-center.html.twig" %}

{% block title %}
    Collection de cartes
{% endblock %}

{% block main %}
    <h1 class="text-center collection-title">
        Classeur de cartes
    </h1>
    <a href="{{ path('game_progress') }}" class="btn-back"><i class="fa-solid fa-square-left fs-1 text-dark"></i></a>
    <div class="collection mb-3">
        <div class="row d-flex flex-row justify-content-around gy-4 overflow-auto collection-content">
            {% set previousFamilly = '' %}
            {% for card in cards|sort((a, b) => a.family.name <=> b.family.name) %}
                {% if card.family.name != previousFamilly  %}
                <h2 class="fs-1 text-center">{{card.family.name}}</h2>
                {% endif %}

                <div class="col-12 col-md-5 col-lg-3 d-flex flex-row justify-content-center card-box
                    {% if card.id not in cardWonsIds %}grey{% endif %}
                ">
                    <div class="flip-card ">
                        <div class="flip-card-inner">
                            <div class="flip-card-front card-size">
                            <div class="box-title">
                                <img src="{{ asset('build/images/gold-metal.png')}}" alt="" class="img-title">
                                <div class="cards-title my-auto text-center d-flex flex-column justify-content-center"><p>{{ card.name }}</p></div>
                            </div>
                                <img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
                                <div class="card-content d-flex flex-column align-items-center">
                                    <div class="card-img"><img src="{{ asset('build/images/img-carte/' ~ card.image)}}" alt="{{card.name}}" class="img-size"></div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                            <div class="box-title">
                                <img src="{{ asset('build/images/gold-metal.png')}}" alt="" class="img-title">
                                <div class="cards-title my-auto text-center d-flex flex-column justify-content-center">
                                <p>carte gagnée 10 pts </p>
                                <p>{% if card.credit and  card.name == 'Le marchand de vin' or
                                         card.name == 'Le cabaretier' %}malus {{ card.credit }} pts{% endif %}</p>
                                <p>{% if card.credit and card.name != 'Le marchand de vin' and
                                         card.name != 'Le cabaretier' %}bonus {{ card.credit }} pts{% endif %}</p>
                               </div>
                            </div>
                                <div class="card-size">
                                    <img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <div class="text-card "><p>{{ card.description }}</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% set previousFamilly = card.family.name %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
