{% extends "layout/main-center.html.twig" %}

{% block title %}
    Collection de cartes
{% endblock %}

{% block body %}
    <h1 class="text-center collection-title">
        Classeur de cartes
    </h1>

    <div class="row mt-2 btn-box">
        <div class="col-6 text-center">
            <a class=" btn btn-one btn-filter" href="{{ path('game_collection', {'filter': 'family'}) }}">
                <i class="bi bi-funnel"></i>
                 par famille
            </a>
        </div>
        <div class="col-6 text-center">
            <a class=" btn btn-one btn-filter" href="{{ path('game_collection', {'filter': 'association'}) }}">
                <i class="bi bi-funnel"></i>
                par carte liée
            </a>
        </div>
    </div>

    <div class="collection mb-3">
        <div class="row d-flex flex-row justify-content-around gy-4 overflow-auto collection-content">
            {% for cardWon in cardWons %}
                <div class="col-12 col-md-4 col-lg-3 d-flex flex-row justify-content-center card-box">
                    <div class="flip-card ">
                        <div>
                            <img src="{{ asset('build/images/gold-metal.png')}}" alt="" class="img-title">
                            <div class="cards-title my-auto text-center d-flex flex-column justify-content-center"><p>{{ cardWon.card.name }}</p></div>
                        </div>
                        <div class="flip-card-inner">
                            <div class="flip-card-front card-size">
                                <img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
                                <div class="card-content d-flex flex-column align-items-center">
                                    <div class="card-img"><img src="{{ asset('build/images/img-carte/' ~ cardWon.card.image)}}" alt="{{cardWon.card.name}}" class="img-size"></div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <div class="card-size">
                                    <img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <div class="text-card "><p>{{ cardWon.card.description }}</p></div>
                                        {# <div>{{ cardWon.card.family.name }}</div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for card in cards %}
                <div class="col-12 col-md-4 col-lg-3 d-flex flex-row justify-content-center card-box grey">
                    <div class="flip-card ">
                        <div>
                            <img src="{{ asset('build/images/gold-metal.png')}}" alt="" class="img-title">
                            <div class="cards-title my-auto text-center d-flex flex-column justify-content-center"><p>{{ card.name }}</p></div>
                        </div>
                        <div class="flip-card-inner">
                            <div class="flip-card-front card-size">
                                <img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
                                <div class="card-content d-flex flex-column align-items-center">
                                    <div class="card-img"><img src="{{ asset('build/images/img-carte/' ~ card.image)}}" alt="{{card.name}}" class="img-size"></div>
                                </div>
                            </div>
                            <div class="flip-card-back">
                                <div class="card-size">
                                    <img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
                                    <div class="card-content d-flex flex-column align-items-center">
                                        <div class="text-card "><p>{{ card.description }}</p></div>
                                        {# <div>{{ card.family.name }}</div> #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
