{% extends 'base.html.twig' %}

{% block title %}Partie de jeu d'histoire
{% endblock %}
{% block body %}


	<div class="ingame mt-3 mb-3">
		<div class="container d-flex flex-column p-2 justify-content-between h-100">
			<div class="row gx-0 d-flex  justify-content-between">

				<div class="col col-sm-6 col-md-3 mb-2 d-flex justify-content-center ">
					<div class="text-image">
						<p class="text-muted text-center">Tour</p>
						<div class="bloc-turn d-flex justify-content-around pe-3"><img class="" src="{{asset('build/images/turn.svg')}}" aria-label="Tour" alt="tour joué">
							<p>
								2</p>
						</div>
					</div>

				</div>
				<div class="col col-sm-6 col-md-3 mb-2 d-flex justify-content-center ">
					<div class="text-image">
						<p class="text-muted   text-center">Cartes</p>
						<div class="bloc-save  d-flex justify-content-around pe-3 "><img class="" src="{{asset('build/images/save.svg')}}" aria-label="Gagnées" alt="carte gagnées">
							<p>10 / 58</p>
						</div>

					</div>

				</div>
				<div class=" col col-sm-6 col-md-3 mb-2 d-flex justify-content-center ">
					<div class=" text-image">
						<p class="text-muted  text-center">Max :1000 points</p>
						<div class="bloc-point   d-flex justify-content-around pe-3"><img class="" src="{{asset('build/images/cup.svg')}}" aria-label="Points" alt="points">
							<p>150 pts</p>
						</div>

					</div>

				</div>
				<div class="col col-sm-6 col-md-3 mb-2 d-flex justify-content-center ">
					<div class="text-image">
						<p class="text-muted  ps-1">Temps restant</p>
						<div class="bloc-time  d-flex justify-content-around pe-3"><img class="" src="{{asset('build/images/clock.svg')}}" aria-label="Chrono" alt="temps écoulé">

							<p>44:33</p>
						</div>
					</div>

				</div>


			</div>

			<div class="jeu-container">

				<a class="mx-auto d-inline btn-dice btn btn-secondary my-5" href="{{path('game_dice')}}">Lancez le dé</a>

				<div class="container">
					<h1 class="h1">

						{% if question.content is defined %}
							{% dump(question) %}

						{% endif %}
					</h2>
					<div class="row gx-0 jeu d-flex justify-content-around">
						<div class="col-xs-12  col-md-4   artisans cardgame"><img class="left-img" src="{{asset('build/images/dos_artisans.jpg')}}" alt="dos artisan"></div>
						<div class="classeur col-xs-12 col-md-4 d-flex align-items-center">
							<button class=" mx-auto d-inline btn btn-secondary   h-5" type="submit">Classeur de cartes</button>
						</div>
						<div class="col-xs-12 col-md-4   artisans cardgame"><img class="right-img" src="{{asset('build/images/dos_apocalypse.svg')}}" alt="dos apocalyspe"></div>
					</div>
				</div>
				<div class="show-allcard ">
					<h2>10 dernières cartes gagnées</h2>
					<div class="show-card mb-1 position-relative">Le menuisier
						<img class="position-absolute top-50 start-100 translate-middle card-won" src="{{asset('build/images/menuisier.jpg')}}" alt="carte gagnée"></div>
					<div class="show-card mb-1 position-relative">Le briquier et le maçon coucheur
						<img class="position-absolute top-50 start-100 translate-middle card-won" src="{{asset('build/images/briquier.jpg')}}" alt="carte gagnée">
					</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>
					<div class="show-card mb-1 position-relative">carte gagnées</div>

					<a class="btn-classeur btn btn-primary" href="{{ path('game_collection') }}">Classeur de cartes</a>

				</div>

			</div>


			<div class="d-flex  justify-content-around flex-wrap">

				<div class="question-card cardgame">
					<div class="two-face">
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="question-card cardgame">
					<div class="three-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="question-card cardgame">
					<div class="four-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="question-card-selected cardgame">
					<div class="five-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="question-card cardgame">
					<div class="six-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>

			</div>
		</div>


	</div>
{% endblock %}
