{% extends 'layout/full-page.html.twig' %}

{% block title %}Partie de jeu d'histoire
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.session.get('roll') is defined %}
        <script>
            document.addEventListener('DOMContentLoaded', function (event) {
                rollDice({{ app.session.get('roll') }})
            })
        </script>
    {% endif %}
{% endblock %}

{% block main %}

    <div class="body-game">
        {# allcard #}
        <div class="show-allcard ">
            <h2>10 dernières cartes gagnées</h2>
            <div class="show-card mb-1 position-relative">Le menuisier
                <img class="position-absolute top-50 start-100 translate-middle card-won"
                     src="{{ asset('build/images/menuisier.jpg') }}" alt="carte gagnée"></div>
            <div class="show-card mb-1 position-relative">Le briquier et le maçon coucheur
                <img class="position-absolute top-50 start-100 translate-middle card-won"
                     src="{{ asset('build/images/briquier.jpg') }}" alt="carte gagnée">
            </div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>
            <div class="show-card mb-1 position-relative">carte gagnées</div>


                <a class="btn-classeur btn btn-primary" href="{{ path('game_collection', {'filter': 'false'}) }}">Classeur de cartes</a>
            <div>
                <a href="{{ path('game_reset') }}"
                   class="mx-auto d-inline btn-dice btn btn-primary my-5">Reset</a>
            </div>
        </div>

        {# widget-top #}
        <div class="widget-top">
            <div class="widget">
                <div class="widget-text">Tour</div>
                <div class="widget-icon">
                    <i class="fas fa-flag fa-lg"></i>
                    <div class="widget-badge">
                        {{ app.session.get('game').getTurn }}
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-text">Cartes</div>
                <div class="widget-icon">
                    <i class="fas fa-cards-blank fa-lg"></i>
                    <div class="widget-badge">
                        {% if qAsked is defined and qAsked is not empty %}
                            {{ qAsked|length }}
                        {% else %}0
                        {% endif %}
                            / 58
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-text">Gains</div>
                <div class="widget-icon">
                    <i class="fas fa-sparkles fa-lg"></i>
                    <div class="widget-badge">
                        {{ app.session.get('game').getScore }}pts
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-text">Temps restant</div>
                <div class="widget-icon widget-icon-timer">
                    <i class="fas fa-hourglass-clock fa-lg"></i>
                    <div class="widget-badge">
                        {{ app.session.get('game').getDuration }}
                    </div>
                </div>
            </div>
        </div>

        <div class="deck-left">
            <div class="artisans cardgame">
                <img class="left-img"
                     src="{{ asset('build/images/dos_artisans.jpg') }}"
                     alt="dos artisan">
            </div>
        </div>

        <div class="center">
            <div class="d-flex flex-column align-items-center justify-content-center">
             <a class="mx-auto d-inline btn-dice btn btn-secondary my-5" href="{{ path('game_dice') }}">
                Lancer le dé
             </a>
                {% include "include/_diceanimation.html.twig" %}
                {% if app.session.get('question').content is defined and  app.session.get('question').content is not empty %}
                    <button class="mx-auto show-modal btn btn-one my-5">Afficher la question active
                    </button>

                {% endif %}
            </div>
        </div>

        <div class="deck-right">
            <div class="artisans cardgame">
                <img class="right-img"
                     src="{{ asset('build/images/dos_apocalypse.svg') }}"
                     alt="dos apocalyspe">
            </div>
        </div>

        <div class="dices">

            <div class="{{ app.session.get('roll') == 2 ? 'question-card-selected' : 'question-card' }} cardgame">
                <div class="two-face">
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="{{ app.session.get('roll') == 3 ? 'question-card-selected' : 'question-card' }} cardgame">
                <div class="three-face">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="{{ app.session.get('roll') == 4 ? 'question-card-selected' : 'question-card' }} cardgame">
                <div class="four-face">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="{{ app.session.get('roll') == 5 ? 'question-card-selected' : 'question-card' }} cardgame">
                <div class="five-face">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>
            <div class="{{ app.session.get('roll') == 6 ? 'question-card-selected' : 'question-card' }} cardgame">
                <div class="six-face">
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
            </div>

        </div>

    </div>
    {% include "include/_questions.html.twig" %}
{% endblock %}
