{% extends 'base.html.twig' %}

{% block title %}Partie de jeu d'histoire
{% endblock %}
{% block body %}


	<div class="ingame">
		<div class="container d-flex flex-column p-2 justify-content-between h-100">
			<div class="row gx-0 d-flex  justify-content-between">

				<div class="col col-sm-6 col-md-3  d-flex justify-content-center ">
					<div class="d-flex text-image"><img class="" src="{{asset('build/images/turn.svg')}}" alt="tour joué"><img class="" src="{{asset('build/images/bloc_turn.svg')}}" alt="tour joué"><p class="menu-score">Tour : 2</p>
					</div>

				</div>
				<div class="col col-sm-6 col-md-3 d-flex justify-content-center ">
					<div class="d-flex text-image"><img class="" src="{{asset('build/images/save.svg')}}" alt="carte gagnées"><img class="" src="{{asset('build/images/bloc_card.svg')}}" alt="carte gagnées">
						<p class="menu-score">10 / 58</p>
					</div>

				</div>
				<div class="col col-sm-6 col-md-3 d-flex justify-content-center ">
					<div class="d-flex text-image"><img class="" src="{{asset('build/images/clock.svg')}}" alt="temps écoulé"><img class="" src="{{asset('build/images/bloc_time.svg')}}" alt="temps écoulé">
						<p class="menu-score">44mn 30sec</p>
					</div>

				</div>
				<div class=" col col-sm-6 col-md-3 d-flex justify-content-center ">
					<div class="d-flex  text-image"><img class="" src="{{asset('build/images/cup.svg')}}" alt="temps écoulé"><img class="" src="{{asset('build/images/bloc_point.svg')}}" alt="points gagnés">
						<p class="menu-score">1000/1000pts</p>
					</div>

				</div>


			</div>
			<div class="row gx-0">
				<div class=" d-flex  justify-content-between">
					<div class="col col-md-4 artisans cardgame"><img class="left-img" src="{{asset('build/images/dos_artisans.jpg')}}" alt="dos artisan"></div>
					<div>
						<button class="col col-md-6 d-inline btn btn-secondary mt-5 w-auto h-5" type="submit" name="validate" value="coop">Classeur de cartes</button>
					</div>
					<div class="col col-md-4 artisans cardgame"><img class="" src="{{asset('build/images/dos_apocalypse.svg')}}" alt="dos apocalyspe"></div>
				</div>
			</div>
			<div class="row gx-0">
				<div= "d-flex align-items-end">
					<div class=" col-md-4 w-100 d-flex  justify-content-between flex-wrap">
						<div class="artisans cardgame"></div>
						<div class="artisans cardgame"></div>
						<div class="artisans cardgame"></div>
						<div class="artisans cardgame"></div>
						<div class="artisans cardgame"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
{% endblock %}
