{% extends 'base.html.twig' %}

{% block title %}Page récapitulative
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex justify-content-center">
		<div class="parchment">
			<div class="parchment-body">

				<h1>Page récapitulative pour {{ game.name }} de {{ game.user.username }}</h1>
				{% for question in game.questionAskeds %}
                <h2 class="text-start">{{ question.question.content }}</h2>

                    {% if game.type == 'solo' %}
                        {% if question.answerQcm.isCorrect %}
                            <p>{{ '✅ ' ~ question.answerQcm.content}}</p>
                        {% else %}
                            <p>{{ '❌ ' ~ question.answerQcm.content}}</p>
                        {% endif %}
                    {% else %}
                        {% for answer in question.question.answers %}
                            {% if answer.isCorrect %}
                                <p>{{ answer.content }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
