<div {{attributes}}>
	<div {{stimulus_controller('game')}}>
		<div
			class="body-game" {{stimulus_target('game', 'bodyGame')}}>
			{# allcard #}
			<div class="show-allcard ">
				<h2>10 dernières cartes gagnées</h2>
				<div class="show-card mb-1 position-relative">Le menuisier
					<img class="position-absolute top-50 start-100 translate-middle card-won" src="{{ asset('build/images/menuisier.jpg') }}" alt="carte gagnée"></div>
				<div class="show-card mb-1 position-relative">Le briquier et le maçon coucheur
					<img class="position-absolute top-50 start-100 translate-middle card-won" src="{{ asset('build/images/briquier.jpg') }}" alt="carte gagnée">
				</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>
				<div class="show-card mb-1 position-relative">carte gagnées</div>


				<a class="btn-classeur btn btn-primary mb-5 w-50" href="{{ path('game_collection') }}">Classeur de cartes</a>
				<div>
					<a href="{{ path('game_reset') }}" class="btn-classeur btn btn-primary mb-5 w-25 ">Reset</a>
				</div>
			</div>

			{# widget-top #}

			<div class="widget-top">
				<div class="widget">
					<div class="widget-text">Tour</div>
					<div class="widget-icon">
						<i class="fas fa-flag fa-lg"></i>
						<div class="widget-badge">
							{{ app.session.get('game').getTurn }}
						</div>
					</div>
				</div>
				<div class="widget">
					<div class="widget-text">Cartes</div>
					<div class="widget-icon">
						<i class="fas fa-cards-blank fa-lg"></i>
						<div class="widget-badge">

							{{ app.session.get('game').getCardWons|length }}

							/ 58
						</div>
					</div>
				</div>
				<div class="widget">
					<div class="widget-text">Gains</div>
					<div class="widget-icon">
						<i class="fas fa-sparkles fa-lg"></i>
						<div class="widget-badge">
							{{ app.session.get('game').getScore }}pts
						</div>
					</div>
				</div>
				<div class="widget">
					<div class="widget-text">Temps restant</div>
					<div class="widget-icon widget-icon-timer">
						<div class="widget-icon-progress" {{ stimulus_target('game', 'chronoProgress') }}></div>
						<i class="fas fa-hourglass-clock fa-lg"></i>
						<div class="widget-badge" {{ stimulus_target('game', 'chrono') }}></div>
					</div>
				</div>
			</div>

			<div class="deck-left">
				<div class="artisans cardgame">
					<img class="left-img" src="{{ asset('build/images/dos_artisans.jpg') }}" alt="dos artisan">
				</div>
			</div>

			<div class="center">
				<div class="d-flex flex-column align-items-center justify-content-center">

					{% if this.roll %}
						<div id="dice" data-side="{{this.roll}}" {% if this.reRoll %} class="reRoll" {% endif %}>
							<div class="sides side-1">
								<span class="dot-dice dot-1"></span>
							</div>
							<div class="sides side-2">
								<span class="dot-dice dot-1"></span>
								<span class="dot-dice dot-2"></span>
							</div>
							<div class="sides side-3">
								<span class="dot-dice dot-1"></span>
								<span class="dot-dice dot-2"></span>
								<span class="dot-dice dot-3"></span>
							</div>
							<div class="sides side-4">
								<span class="dot-dice dot-1"></span>
								<span class="dot-dice dot-2"></span>
								<span class="dot-dice dot-3"></span>
								<span class="dot-dice dot-4"></span>
							</div>
							<div class="sides side-5">
								<span class="dot-dice dot-1"></span>
								<span class="dot-dice dot-2"></span>
								<span class="dot-dice dot-3"></span>
								<span class="dot-dice dot-4"></span>
								<span class="dot-dice dot-5"></span>
							</div>
							<div class="sides side-6">
								<span class="dot-dice dot-1"></span>
								<span class="dot-dice dot-2"></span>
								<span class="dot-dice dot-3"></span>
								<span class="dot-dice dot-4"></span>
								<span class="dot-dice dot-5"></span>
								<span class="dot-dice dot-6"></span>
							</div>
						</div>
					{% endif %}
					{# loader #}
					<span data-loading="addClass(opacity-100)" style="opacity:0;">
						<img src="{{asset('build/images/loader.svg')}}" alt="chargement"></span>

					<a class="mx-auto d-inline btn-dice btn btn-secondary my-5" href="#" data-action-name="setQuestion()" data-action="live#action">
						Lancer le dé
					</a>


					{% if this.question and this.answered == false %}
						<button class="mx-auto show-modal btn btn-one my-5" {{stimulus_action('game', 'openModal')}}>Afficher la question active
						</button>

					{% endif %}
					{% if this.message %}
						<h3 class="alert alert-secondary">{{this.message}}
						</h3>
					{% endif %}
				</div>
			</div>

			<div class="deck-right">
				<div class="artisans cardgame">
					<img class="right-img" src="{{ asset('build/images/dos_apocalypse.svg') }}" alt="dos apocalyspe">
				</div>
			</div>

			<div class="dices">

				<div class="{{ app.session.get('roll') == 2 ? 'question-card-selected' : 'question-card' }} cardgame">
					<div class="two-face">
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="{{ app.session.get('roll') == 3 ? 'question-card-selected' : 'question-card' }} cardgame">
					<div class="three-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="{{ app.session.get('roll') == 4 ? 'question-card-selected' : 'question-card' }} cardgame">
					<div class="four-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="{{ app.session.get('roll') == 5 ? 'question-card-selected' : 'question-card' }} cardgame">
					<div class="five-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>
				<div class="{{ app.session.get('roll') == 6 ? 'question-card-selected' : 'question-card' }} cardgame">
					<div class="six-face">
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
						<span class="dot"></span>
					</div>
				</div>

			</div>

		</div>


		<div id="myModal" class="card-parchment card-parchment--modal {% if this.roll and this.answered == false %}card-parchment--modal-auto-show{% else %}d-none{% endif %}" {{stimulus_target('game', 'modal')}}>
			<div class="parchment-background" {{stimulus_action('game', 'click->game#closeModal')}}></div>
			<div class="parchment-body">
				<button aria-label="close" class="close-modal" {{stimulus_action('game', 'closeModal')}}></button>
				{% if this.question %}
					<p class="fs-3 mb-1">
						Niveau
						{{this.question.getLevel}}
					</p>
					<h1>{{this.question.content}}
					</h1>

				{% endif %}
				{% if this.roll == 1  %}
					<div class="d-flex justify-content-center mt-5">
						<img class="right-img" src="{{ asset('build/images/dos_apocalypse.svg') }}" alt="dos apocalypse">
					</div>

					<h1>Pas de chance vous avez tiré une carte apocalypse !!
					</h1>
					<p>
						Cliquez ici pour découvrir les effets :
					</p>
					<div class="d-flex justify-content-center mt-5">
						<a href="#" id="p" class="btn btn-one bg-white bg-opacity-75 me-5 w-25 close" data-action-name="nextTurn" data-action="live#action" {{stimulus_action('game', 'closeModal')}}>Effets</a>

					</div>
				{% endif %}
				{% if app.session.get('alert') is not empty %}
					<p class="fs-3 mb-1 mt-5">
						{{ app.session.get('alert') }}</p>
				{% endif %}

				{% if this.question %}
					<div class="text-center">
						<button id="btn-display-response" class="btn btn-one mt-3">Afficher la réponse</button>


						<div id="response" class="d-none mt-3">
							{% if this.answer %}
								<p>{{this.answer.content}}</p>
							{% endif %}
							<div class="d-flex justify-content-center mt-5">
								<a href="#" id="p" class="btn btn-one bg-white bg-opacity-75 me-5 w-25 close" data-action-name="goodAnswer" data-action="live#action" {{stimulus_action('game', 'closeModal')}}>Bonne réponse</a>
								<a href="#" class="btn btn-one bg-white bg-opacity-75 w-25 close" data-action-name="falseAnswer" data-action="live#action" {{stimulus_action('game', 'closeModal')}}>Mauvaise réponse</a>

							</div>
						</div>
					</div>
				{% endif %}
			</div>

		</div>


		{% if this.badAnswer == false %}
			<div class="popup-collection mb-3 {% if app.session.get('lastTurn')  and this.answered %}card-parchment--modal-auto-show2 {% else %}d-none{% endif %}" {{stimulus_target('game', 'modal2')}}>
				<div class="row d-flex flex-row justify-content-around overflow-auto collection-content">
					<button aria-label="close" class="close-modal" {{stimulus_action('game', 'closeModal2')}}></button>

					<div class="parchment-body row d-flex flex-row justify-content-around gy-4 overflow-auto collection-content">
						<h1>Recap Dernier tour
						</h1>
						<h2>Point gagnés :
							{% if app.session.get('lastTurn').pointwons is defined %}
								{{ app.session.get('lastTurn').pointwons }}</h2>
						{% endif %}
						<h2>Cartes tirées lors du dernier tour</h2>
						<div class="d-flex flex-column">
							<div class="d-flex justify-content-between  flex-wrap">
								{% if app.session.get('lastTurn').getCardApocalypses is defined %}
									<pre>
    {{ dump(app.session.get('lastTurn').getCardApocalypses) }}
</pre>
								{% endif %}

								{% if app.session.get('lastTurn') %}
									{% if app.session.get('lastTurn').getCardWons %}

										{% for card in app.session.get('lastTurn').getCardWons %}
											<div class="col-12 col-md-5 col-lg-3 d-flex flex-row justify-content-center card-box">
												<div class="flip-card ">
													<div class="flip-card-inner">
														<div class="flip-card-front card-size">
															<div class="box-title">
																<img src="{{ asset('build/images/gold-metal.png')}}" alt="" class="img-title">
																<div class="cards-title my-auto text-center d-flex flex-column justify-content-center">
																	<p>{{ card.name }}</p>
																</div>
															</div>
															<img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
															<div class="card-content d-flex flex-column align-items-center">
																<div class="card-img"><img src="{{ asset('build/images/img-carte/' ~ card.image)}}" alt="{{card.name}}" class="img-size"></div>
															</div>
														</div>
														<div class="flip-card-back">
															<div class="box-title">
																<img src="{{ asset('build/images/gold-metal.png')}}" alt="" class="img-title">
																<div class="cards-title my-auto text-center d-flex flex-column justify-content-center">
																	<p>carte gagnée 10 pts
																	</p>
																	<p>
																		{% if card.credit and  card.name == 'Le marchand de vin' or
                                         card.name == 'Le cabaretier' %}malus
																			{{ card.credit }}
																			pts
																		{% endif %}
																	</p>
																	<p>
																		{% if card.credit and card.name != 'Le marchand de vin' and
                                         card.name != 'Le cabaretier' %}bonus
																			{{ card.credit }}
																			pts
																		{% endif %}
																	</p>
																</div>
															</div>
															<div class="card-size">
																<img src="{{ asset('build/images/parchemin.png')}}" alt="" class="h-100 w-100 filter-shadow">
																<div class="card-content d-flex flex-column align-items-center">
																	<div class="text-card ">
																		<p>{{ card.description }}</p>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										{% endfor %}
									{% endif %}
								{% endif %}
							</div>
						</div>

					</div>
				</div>
			</div>
		{% endif %}
