{% extends 'admin/base.html.twig' %}

{% block title %}Fiche utilisateur{% endblock %}

{% block body %}
    <h1 class="text-center mb-4">Fiche de {{ user.username }}</h1>

    <table class="table table-hover">
        <tbody>
            <tr class="table-dark">
                <th>Nom</th>
                <th>Rôle(s)</th>
                <th>Classe</th>
            </tr>
            <tr> <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : 'aucun rôle' }}</td>
                <td>{{ user.classe.classe}}</td>
            </tr>
            <tr>
                <th class="text-center table-dark" colspan="4">Party jouée</th>
            </tr>
            <tr>
                <th class="table-primary">nom</th>
                <th class="table-primary">Durée de la party</th>
                <th class="table-primary">classe</th>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('manage_users_index') }}"><i class="bi bi-backspace"></i> retour à la liste</a>

    <a class="btn btn-outline-primary" href="{{ path('manage_users_edit', {'id': user.id}) }}"><i class="bi bi-pencil"></i> éditer</a>

    {{ include('admin/manage_users/_delete_form.html.twig') }}
{% endblock %}
