{% extends 'base.html.twig' %}

{% block title %}Page des classements
{% endblock %}

{% block body %}
    <h1 class="text-center">Page des classements</h1>

	<div class="container-fluid d-flex justify-content-center">
		<div class="parchment">
			<div class="parchment-body">
                <div class="">{% include "include/_search_form.html.twig" %}</div>
				<div class="d-flex flex-column">
					<table class="text-center w-100">
						<tr>
							<th>
								<h2><a class="text-decoration-none" href="{{ path('classement', {'filter': 'name'}) }}">Nom de la partie</a></h2>
							</th>
							<th>
								<h2><a class="text-decoration-none" href="{{ path('classement', {'filter': 'default'}) }}">Durée de la partie</a></h2>
							</th>
                            <th>
                                <h2><a class="text-decoration-none" href="{{ path('classement', {'filter': 'classe'}) }}">classe</a></h2>
                            </th>
                            <th>
                                <h2><a class="text-decoration-none" href="{{ path('classement', {'filter': 'user'}) }}">utilisateur</a></h2>
                            </th>
						</tr>
                        {% for game in pagination %}
                            <tr {% if loop.index is odd %} class="color" {% endif %}>
                                <td><a class="text-decoration-none" href="{{ path('summary', {'id': game.id}) }}">{{ game.name }}</a></td>
                                <td>{{ game.duration }}</td>
                                <td> {{ game.classe ? game.classe.classe : '' }}</td>
                                <td>{{ game.user.username }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucune partie trouvée</td>
                            </tr>
                        {% endfor %}


					</table>
                    <div class="navigation d-flex flex-row justify-content-center align-items-center mt-2">
                        {{ knp_pagination_render(pagination) }}
                    </div>
				</div>
			</div>
		</div>
	{% endblock %}
